/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import "@elias-cl/uss-kitdigital/dist/css/main.css";

.navbar {
  // display: none;
  box-shadow: none;
  background-color: var(--background-2);
  height: 124px;
  > .navbar__inner {
    > .navbar__items {
      > .navbar__brand {
        > .navbar__logo {
          height: 68px;
        }
      }
      &.navbar__items--right {
        display: flex;
        gap: 20px;
      }
    }
  }
}
